@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Joke's application</h1>
    <p>Hey everyone, for this project, I am learning more on how to create a web application using C#, and the .NET framework. For now, I only have the Jokes part up, but later on, ill try and implement for features soon</a>.</p>
</div>
